@model TruckTravelsCRUD.Models.Truck

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Truck</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Marca</label>
                <input asp-for="Brand" class="form-control" placeholder="Marca do caminhão" required/>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modelo</label>
                <input asp-for="Model" class="form-control" placeholder="Modelo do caminhão" required/>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plate" class="control-label">Placa</label>
                <input asp-for="Plate" class="form-control" placeholder="Placa do caminhão" required/>
                <span asp-validation-for="Plate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Axles" class="control-label">Eixos</label>
                <input asp-for="Axles" class="form-control" placeholder="Quantidade de eixos" required/>
                <span asp-validation-for="Axles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
